
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('pacifico.woff') format('woff')
}
@font-face {
    font-family: 'ElegantIcons';
    font-weight: normal;
    font-style: normal;
    src: url('ElegantIcons.woff') format('woff');
}