@font-face {
    font-family: 'ElegantIcons';
    font-weight: normal;
    font-style: normal;
    src: url('ElegantIcons.woff') format('woff');
}

@-webkit-keyframes alert {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes unspin {
    from {
        -webkit-transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(-359deg);
    }
}

.spin {
    -webkit-animation: spin infinite 0.5s linear;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: -webkit-calc(100% - 1px);
    height: 100%;
    line-height: 1;
    font-family: Helvetica Neue;
    text-align: center;
    background: transparent;
    background-size: 100%;
    overflow: hidden;
}

.icon {
    font-family: 'ElegantIcons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 200px;
    background: transparent;
}

input:focus {
    outline-width: 0;
}

*:not(input):not(textarea):not(button) {
    -webkit-user-select: none;
    cursor: default;
}

p {
    margin: 20px 0;
}

h1 {
    margin: 20px 0;

}

button {
    color: initial !important;
}

button:not(.sendPageActions button) {
    background: -webkit-linear-gradient(rgb(249, 249, 249), rgb(235, 235, 235));
    border: 1px solid rgb(147, 162, 154);
    border-radius: 5px;
    padding: 2px 10px;
    font-family: Lucida Grande;
    font-size: 13px;
    min-width: 100px;
}

button:not(.sendPageActions button):active {
    background: -webkit-linear-gradient(rgb(235, 235, 235), rgb(249, 249, 249));
}

body.loading section, body.offline section {
    -webkit-filter: blur(10px);
}

section header {
	margin: 0;
	margin-top: -20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 10px gray;
    z-index: 99999;
    position: relative;
	border-bottom: 1px solid black;
}
section *>header {
	line-height: 10px;
	margin-top: 0;
	border-top: 1px solid black;
}

.loginPage header {
    margin-bottom: 20px;
}

section header>span {
    font-family: 'ElegantIcons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    font-size: 20px;
    opacity: 0.7;
    -webkit-transition: all 0.5s, font-size 0;
    position: absolute;
    top: 0;
}

section header span:hover {
    opacity: 1;
}

section header .leftButton {
    float: left;
    margin-left: 15px;
    left: 10px;
}

section header .rightButton {
    float: right;
    margin-right: 15px;
    right: 10px;
	display: block;
	-webkit-perspective-origin: 10px center;
}
section header .rightButton:hover {
	-webkit-transform: rotate(-90deg);
}

.iOSSync, .androSync {
    padding: 20px 0;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    -webkit-filter: blur(0px);
    box-shadow: 0px 0px 10px black;
    overflow: auto;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s, 
    					-webkit-transform 1s ease-in-out,
    					-webkit-perspective-origin-x 0,
    					-webkit-perspective-origin-y 0;
}

section.active {
    opacity: 1;
}

section.blur {
    -webkit-filter: blur(10px);
}

body.enable3d section {
    -webkit-transform: translate(-110%) scale(0.7);
}

body:not(.enable3d) section {
    -webkit-transform: translate(-110%);
}

body.enable3d section.active {
    -webkit-transform: translate(0)
    				   scale(1);
}

body:not(.enable3d) section.active {
    -webkit-transform: translate(0)
    				   scale(1);
}

section .zoom {
    -webkit-transform: scale(60);
    overflow: hidden !important;
}

section .zoom>*:not(.toolbox) {
    opacity: 0;
}

section .content {
    height: -webkit-calc(100% - 75px);
    width: -webkit-calc(100% - 100px);
    padding: 25px 25px 0 25px;
    margin: 0;
    margin-left: -20px;
    overflow: auto;
    -webkit-transition: all 0.5s;
    -webkit-perspective : 1500px;
    -webkit-perspective-origin: 50% 50%;
}

.friendsPage .content {
	padding-left: 100px;
	text-align: left;
}

section.sendPage {
    padding: 0;
    width: 100%;
}

div.offlinePage {
    -webkit-transition: all 0.5s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -150%;
    right: 0;
    left: 0;
    padding: 30px 0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px black;
}

div.offlinePage p {
    padding: 10px 20px;
}

body.offline div.offlinePage {
    top: 0;
}

div.friend {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 15px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0;
    -webkit-transition: 0.5s;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}
div.snap {
    width: 400px;
    height: 200px;
	padding-left: 50px;
	margin: 20px auto;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: 0.5s;
    background-position: center;
    background-size: cover;
}
div.snap .img {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	float: left;
    background-position: center;
    background-size: cover;
	background-color: white;
    box-shadow: inset 0 0 10px transparent, 0 0 10px black;
	-webkit-transition: .5s;
	position: absolute;
}
div.snap:hover .img {
    box-shadow: inset 0 0 10px black, 0 0 10px black;
}
div.snap:hover {
    opacity: 1;
}
div.snap p {
	text-align: right !important;
	width: 200px;
	margin-left: 100px !important;
	padding-right: 10px !important;
}
div.snap p:first-of-type {
	-webkit-transition-delay: .2s;
}
div.snap p:last-child {
	-webkit-transition-delay: .4s;
}
div.snap:hover p {
	width: 250px;
}
div.snap .icon {
    font-size: 17px;
    padding: 0 5px;
}

body.enable3d div.friend:hover {
    -webkit-transform: rotateX(0deg);
}

div.snap *, div.friend * {
    cursor: pointer;
}

div.snap.hide, div.friend {
    opacity: 0.6;
}

div.snap.hide:hover, div.friend:hover {
    opacity: 1;
}

div.snap:hover p, div.friend:hover p {
    background-color: rgba(255, 255, 255, 0.8);
}
div.snap p, div.friend p {
    text-align: left;
    padding: 10px;
    -webkit-transition: all 0.5s;
    max-height: 10px;
    margin: 0;
    word-wrap: break-word;
}

div.friend .displayName {
    display: block;
    height: 30px;
    width: 300px;
}

div.friend .displayName input {
    text-align: left;
    padding: 10px;
    -webkit-transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.2);
    color: gray;
    height: 10px;
    cursor: initial;
    width: 130px;
    -webkit-transform: translate(150px);
    display: inline-block;
    vertical-align: top;
	border-radius: 0;
}

div.friend .displayName p {
    -webkit-transform: translate(-150px);
    display: inline-block;
    width: 130px;
    height: 10px;
    vertical-align: top;
}

div.friend .displayName.edit input {
    -webkit-transform: translate(0px);
}

div.friend .displayName.edit p {
    -webkit-transform: translate(-300px);
}

div.snap>*, div.friend>* {
    font-size: 13px;
}

body.enable3d div.friend {
    -webkit-transform: rotateX(-20deg) translateY(-5px);
}

div.snap.hide[data-media-type="3"] {
    border-color: yellow;
    top: 20px;
}

div.snap.hide[data-media-type="0"], div.snap.hide[data-media-type="4"] {
    border-color: red;
}

div.snap.hide[data-media-type="1"], div.snap.hide[data-media-type="2"],
div.snap.hide[data-media-type="5"], div.snap.hide[data-media-type="6"] {
    border-color: purple;
}


h1.title {
	margin: 20px 50px;
	text-align: left;
}

.sendSnapBtn, .storiesBtn, .acceptFriend {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sendSnapBtn:hover {
    background-color: yellow !important;
}

.storiesBtn:hover {
    background-color: lightblue !important;
}

.acceptFriend:hover {
    background-color: rgba(0, 128, 0, 0.5) !important;
}

.numStories {
    color: rgb(27, 173, 255);
    -webkit-transition: 0.5s;
}

.storiesBtn:hover .numStories {
    color: black;
}

section input[type=search] {
    display: block;
    width: 100%;
    color: black;
    padding: 15px 0px;
    margin: 0;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-appearance: none;
    border-radius: 0;
}

section input[type=search]::-webkit-input-placeholder {
    color: gray;
}

.friendList {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: -webkit-calc(100% - 53px - 95px);
    overflow: auto;
}

.sendPageActions {
    display: block;
    width: 100%;
    height: 150px;
}

.sendPageActions>button, .sendPageActions>div {
    display: inline-block;
    font-family: Helvetica Neue;
    height: 75px;
    width: -webkit-calc(100% / 3);
    border: none;
    cursor: pointer;
    -webkit-transition: 0.5s;
    color: white !important;
    font-size: 20px;
    text-transform: uppercase;
    vertical-align: top;
}

.sendPageActions .select:hover {
    background: rgba(247, 255, 0, 0.5);
}

.sendPageActions .select {
    background: rgba(247, 255, 0, 0.3);
}

.sendPageActions .cancel:hover {
    background: rgba(255, 0, 0, 0.5);
}

.sendPageActions .cancel {
    background: rgba(255, 0, 0, 0.3);
}

.sendPageActions .send:hover {
    background: rgba(0, 255, 0, 0.5);
}

.sendPageActions .send {
    background: rgba(0, 255, 0, 0.3);
}

.sendPageActions .send:hover {
    background: rgba(0, 255, 0, 0.5);
}

.sendPageActions .share {
    width: 50%;
    background: rgba(13, 5, 255, 0.3);
}

.sendPageActions .share:hover {
    background: rgba(13, 5, 255, 0.5);
}

.sendPageActions .save {
    width: 50%;
    background: rgba(10, 255, 245, 0.3);
}

.sendPageActions .save:hover {
    background: rgba(10, 255, 245, 0.5);
}

.sendPage .friendList>div {
    display: block;
    height: 50px;
}

.sendPage .friendList>div:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sendPage .friendList>div>div {
    display: inline-block;
    margin: 0px;
}

.sendPage p {
    margin: 0;
}

.sendPage .friendList>div>div p:first-child:last-child {
    line-height: 50px;
}

.sendPage .friendList>div>div p:first-child {
    color: rgb(97, 175, 223);
}

.sendPage .friendList>div>div p:last-child:not(:first-child) {
    color: rgb(208, 215, 65);
    font-size: 12px;
}

.sendPage .friendList>div .sendFriend {
    height: 100%;
    width: -webkit-calc(100% - 50px);
    line-height: 25px;
    float: right;
    text-align: left;
}

.sendPage .friendList>div .check {
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 5px;
    margin: 8px;
    cursor: pointer;
    -webkit-transition: 0.5s;
}

.sendPage .friendList>div .check:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sendPage .friendList>div .check.clicked {
    background-color: rgba(86, 238, 255, 0.37);
}

.sendPageActions .check {
    height: 30px;
    width: 30px;
    margin-left: -webkit-calc(100% / 2 - 15px);
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.5s
}

.sendPageActions .check.checked {
    background-color: rgba(86, 238, 255, 0.37);
}

div.toolbox {
    -webkit-transform: scale(-webkit-calc(1 / 60)) translateZ(0);
    -webkit-backface-visibility: hidden;
    z-index: 99999;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
	text-align: center;
}

.zoom .toolbox {
    opacity: 1;
}

.storyBox {
    margin: auto;
    margin-top: 20px;
    -webkit-transition: .5s;
    width: 140px;
}

.storyBox .imgStory {
    width: 140px;
    height: 70px;
    border-radius: 70px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.25s ease-in-out;
    overflow: hidden;
    vertical-align: middle;
}

.storyBox .imgStory .thumb {
    width: 140px;
    height: 70px;
    float: left;
    background-size: 100%;
    background-position: center;
}

.storyBox .imgStory .duration {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin: 0;
    float: right;
    padding-right: 10px;
    color: white;
    -webkit-transition: 0.25s;
    margin-left: -100px;
    text-shadow: 0 0 1px black;
    text-align: left;
}

.storyBox:hover .imgStory .duration {
    margin-right: -40px;
}

.storyBox .imgStory .icon {
    font-size: 30px;
    line-height: 70px;
    color: white;
    -webkit-transition: 0.25s linear;
    display: inline-block;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(135deg);
    margin-left: -100px;
    text-shadow: 0 0 1px black;
}

.storyBox:hover .imgStory .icon {
    color: black;
    margin-left: -140px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.4);
    -webkit-transform: rotate(0deg);
}

.storyBox.loading .imgStory * {
    opacity: 0;
}

.storyBox:not(.loading) .imgStory * {
    opacity: 1;
}

.storyBox.loading .imgStory {
    width: 70px !important;
    -webkit-animation: spin 1s linear infinite;
    border-top-color: white;
}

.storyBox:hover .imgStory {
    box-shadow: 0 0 5px black;
    width: 70px;
}

.storyBox .imgStory:active {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5) inset;
    border-color: rgba(0, 0, 0, 0.5);
}

.storyBox div {
    display: inline-block;
}

.toolbox .storyBack {
    position: fixed;
    top: 0;
    left: 10px;
    -webkit-transition: 0.5s;
    -webkit-transform: scale(1);
    cursor: pointer;
    text-shadow: 0 0 0px black;
}

.zoom .toolbox .storyBack {
    top: 10px;
}

.toolbox .storyBack:hover {
    color: rgb(27, 173, 255);
}

.toolbox .storyBack:active {
    -webkit-transform: scale(0.9);
}

.friendName {
    color: gray;
}

body>.toggleCam {
    width: 40px;
    height: 50px;
    display: inline-block;
    position: fixed;
    text-align: center;
    top: 50%;
    left: -15px;
    border-radius: 0px 10px 10px 0px;
    margin-top: -10px;
    z-index: 11;
    font-family: 'ElegantIcons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    font-size: 30px;
    color: white;

    -webkit-transition: 0.5s;
    -webkit-transform: rotate(0deg);
}

.loginForm input {
    display: block;
    margin: auto;
}

.feedPage .content {
    padding: 0;
    margin: 0;
    height: -webkit-calc(100% - 50px);
    width: 100%;
    overflow-x: hidden;
}

.conversation {
    width: 100%;
    text-align: left;
    margin: 0;
    opacity: .7;
    display: block;
    height: 120px;
    overflow: hidden;
    background-position: 0px;
    -webkit-transition: 0.25s;
}

.conversation:not(:last-child) {
    border-bottom: 1px solid black;
}

.conversation:hover {
    opacity: 1;
    padding-left: 50px;
}

.conversation>p {
    margin: 0;
    padding: 5px 10px;
    min-height: 15px;
}

.conversation p.details {
    width: 200px;
    margin: 0;
    display: inline-block;
}

.conversation p.details>span {
    display: block;
    padding: 5px;
}

.conversation .icon {
    margin-right: 5px;
}

.snapRect {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 43, 53, 0.76);
    vertical-align: top;
    display: inline-block;
    margin: 10px 0 0 10px;
    border-radius: 5px;
}

.snapRect.snaps {
    background-color: rgba(255, 43, 53, 0.76);
}

.snapRect.messages {
    background-color: rgba(52, 175, 255, 0.76);
    border-color: rgba(52, 175, 255, 0.76);
}

.conversation .snapText .new {
    width: 10px;
    height: 10px;
    color: black;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(255, 253, 39, 0.95);
    line-height: 10px;
    padding: 0;
    font-size: 8px;
    display: inline-block;
    margin-top: -5px;
    vertical-align: top;
    text-align: center;
    content: attr(nbr);
}

.conversation:hover {
    opacity: 1;
}

.conversation img {
    max-width: 100px;
    vertical-align: top;
    max-height: 70px;
    -webkit-mask-box-image: -webkit-linear-gradient(transparent, black, transparent);
    opacity: 0.7;
    -webkit-transition: 0.5s;
}

body.hideFeedPics .conversation img {
    display: none;
}

.feedPage .zoom .conversation {
    opacity: 0;
}

.loadingView {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: 0.25s ease-in-out;
    -webkit-transform: translateY(-100%);
}

.loadingView.active {
    -webkit-transform: translateY(0%);
}

.loadingView .iconContent {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: -50px;
    margin-top: -50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top-color: white;
    border-radius: 100px;
    -webkit-animation: unspin infinite 0.5s linear;
}

.loadingView .iconContent .icon {
    height: 100px;
    color: white;
    line-height: 100px;
    margin: 0;
    padding: 0;
    font-size: 35px;
    -webkit-animation: spin infinite .25s linear;
}

.errorView {
    position: fixed;
    top: -350px;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 9999999;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 50px;
    color: white;
    -webkit-transition: 0.25s;
}

.errorView.show {
    top: 0;
}

.errorView.show .icon:first-child {
    -webkit-animation: alert 1s infinite;
}

.errorView .icon:first-child {
    float: left;
}

.errorView .icon:last-child {
    float: right;
}

.errorView .text {
    padding: 0 10px;
    margin: 0;
    line-height: 50px;
    text-align: left;
    display: inline-block;
}

.errorView span {
    line-height: 50px;
    padding: 0 10px;
}

body.dark section header {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

body.light section header {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

body.dark section header>span {
    color: white;
}

body.light section header>span {
    color: black;
}

body.light .conversation {
    color: rgb(74, 74, 74);
}

body.dark .conversation {
    color: white;
}

body.dark .conversation:nth-child(odd) {
    background-color: rgba(50, 50, 50, 0.5);
}

body.dark .conversation:nth-child(even) {
    background-color: rgba(100, 100, 100, 0.5);
}

body.light .conversation:nth-child(odd) {
    background-color: rgba(200, 200, 200, 0.3);
}

body.light .conversation:nth-child(even) {
    background-color: rgba(220, 220, 220, 0.3);
}

body.light>.toggleCam {
    color: black;
    background-color: rgba(232, 232, 232, 0.7);
}

body.dark>.toggleCam {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

body>.toggleCam:hover, body>.toggleCam:active {
    left: 0;
}

body.dark>.toggleCam:hover, body>.toggleCam:active {
    background-color: white;
    color: black;
}

body.light>.toggleCam:hover, body>.toggleCam:active {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

body.light .storyBox .imgStory {
    border-color: rgba(0, 0, 0, 0.5);
}

body.light .storyBox.loading .imgStory {
    border-top-color: black;
}


body.dark div.snap p, body.dark div.friend p {
	color: white;

}
body.dark div.snap p {
    background-color: rgba(0, 0, 0, 0.4);
}
body.dark div.friend p {
    background-color: rgba(0, 0, 0, 0.2);
}
body.dark div.friend .storiesBtn:hover {
	color: black;
}
body.light div.snap p, body.light div.friend p {
    background-color: rgba(255, 255, 255, 0.5);
}
.friendsPage .search {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 250px;
	top: -250px;
}
.friendsPage .search.active {
	top: 0;
}